/* IPOG Mod Encyclopedia - encyclopedia about IPOG Mod features
Copyright (C) 2022-2025 William Weber Berrutti (aka Cyantusk)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see https://www.gnu.org/licenses/. */

html
{
    box-sizing: border-box;
}

*, *::before, *::after
{
    box-sizing: inherit;
}

:root
{
    text-align: center;
    justify-content: center;
    margin-left: 2%;
    margin-right: 2%;
    overflow-wrap: break-word;
    overflow-y: scroll;
    
    color: white;
    font-family: sans-serif;
    font-size: 16px;

    background-image: url("images/design/background.png");
    background-position: center top;
}

a:focus
{
    outline: 0.1em solid red;
    z-index: 0;

    border-radius: 2.5px;
}

.text_desarian, .text_ristanak, .text_kaal, .text_source
{
    margin-bottom: 48px;
}

h1, h2, h3, h4, h5, h6
{
    text-align: center;
    justify-content: center;
    margin-bottom: 32px;
    margin-top: 32px;
}

.text_note
{
    text-align: center;
    justify-content: center;
}

img
{
    margin-top: 15px;

    max-width: 100%;
    height: auto;

    align-items: center;
    justify-content: center;
}

a img
{
    float: center;
    object-fit: cover;
}

li, .content_cvar
{
    text-align: left;
    justify-content: left;
    margin-bottom: 15px;
    margin-top: 15px;
}

ul, ol
{
    margin-top: 30px;
    margin-bottom: 30px;
}


/** Pictures - Illustrations **/

.picture_red_hunters
{
    max-width: 45%;
    width: 300px;
}

.picture_scavenger, .picture_retribution, .picture_cvars
{
    max-width: 50%;
    width: 480px;
    border-radius: 5px;
}

.picture_heretic
{
    max-width: 45%;
    width: 380px;
}

.picture_desarian, .picture_kaal
{
    max-width: 40%;
    width: 260px;
}

.picture_ristanak
{
    max-width: 40%;
    width: 320px;
}

@media only screen and (max-width: 768px)
{
    .picture_scavenger, .picture_retribution, .picture_cvars
    {
        max-width: 90%;
        width: 350px;
        border-radius: 5px;
    }

    .picture_heretic
    {
        max-width: 70%;
        width: 300px;
    }

    .picture_desarian, .picture_kaal
    {
        max-width: 60%;
        width: 260px;
    }

    .picture_ristanak
    {
        max-width: 75%;
        width: 320px;
    }
}


/** Pictures - Characters **/

.picture_character, .picture_character_stats
{
    max-width: 90%;
    min-width: 30%;
}

@media only screen and (max-width: 768px)
{
    .picture_character, picture_character_stats
    {
        max-width: 100%;
        min-width: 30%;
    }
}


/** Pictures - Weapons **/

.picture_weapon_melee_cyborg, .picture_weapon_melee_lizardman, .picture_weapon_melee_mooman,
.picture_weapon_melee_specimen7, .picture_weapon_melee_dominatrix
{
    min-width: 72px;
}

.picture_weapon_melee_cyborg
{
    margin-left: 68px;
}

.picture_weapon_melee_lizardman
{
    margin-left: 66px;
}

.picture_weapon_melee_mooman
{
    margin-left: 96px;
}

.picture_weapon_melee_dominatrix
{
    margin-left: 56px;
}

.picture_weapon_ranged, .picture_weapon_common
{
    margin-left: 76px;
    min-width: 96px;
}

@media only screen and (max-width: 768px)
{
    .picture_weapon_melee_cyborg, .picture_weapon_melee_lizardman, .picture_weapon_melee_mooman,
    .picture_weapon_melee_specimen7, .picture_weapon_melee_dominatrix, .picture_weapon_ranged,
    .picture_weapon_common
    {
        margin: 18px;
    }
}

@media only screen and (max-width: 768px)
{
    .picture_weapon_melee, .picture_weapon_ranged, .picture_weapon_common
    {
        min-width: 96px;
    }
}


/** Pictures - Enemies **/

.picture_enemy_sorceress, .picture_enemy_droid
{
    margin-left: 48px;
}

.picture_enemy_bighead
{
    margin-left: 44px;
}

.picture_enemy_trooper, .picture_enemy_berserker, .picture_enemy_kprobe, .picture_enemy_kprobe2, .picture_enemy_kman, .picture_enemy_kfem
{
    margin-left: 40px;
}

.picture_enemy_wizard, .picture_enemy_disciple
{
    margin-left: 36px;
}

.picture_enemy_prisoner
{
    margin-left: 38px;
}

.picture_enemy_guard, .picture_enemy_veek, .picture_enemy_kboss
{
    margin-left: 32px;
}

.picture_enemy_tboss
{
    margin-left: 24px;
}

.picture_enemy_pboss
{
    margin-left: 14px;
}

.picture_enemy_kbot
{
    margin-left: 12px;
}

.picture_enemy_bigguard
{
    margin-left: 6px;
}

@media only screen and (max-width: 768px)
{
    .picture_enemy_prisoner, .picture_enemy_trooper, .picture_enemy_guard, .picture_enemy_bigguard, .picture_enemy_pboss,
    .picture_enemy_droid, .picture_enemy_bighead, .picture_enemy_berserker, .picture_enemy_sorceress, .picture_enemy_veek,
    .picture_enemy_wizard, .picture_enemy_tboss, .picture_enemy_disciple, .picture_enemy_kprobe, .picture_enemy_kman,
    .picture_enemy_kfem, .picture_enemy_kbot, .picture_enemy_kboss, .picture_enemy_kprobe2
    {
        margin: 18px;
        width: 25%;
    }
}


/** Containers **/

.container_enemy, .container_character, .container_inventory, .container_powerup, .container_weapon
{
    position: relative;
    flex-wrap: wrap;
    display: flex;
    align-items: top;
    justify-content: space-evenly;
}

.container_enemy_element, .container_character_element, .container_inventory_element,
.container_powerup_element, .container_weapon_element, .container_ammo_element
{
    display: grid;
    justify-content: normal;
    align-items: top;
}

.container_enemy_element
{
    grid-template-columns: 148px auto;
    width: 100%;
}

.container_character_element
{
    grid-template-columns: 270px auto;
    width: 100%;
}

.container_inventory_element, .container_powerup_element
{
    grid-template-columns: 96px auto;
    width: 50%;
}

.container_ammo_element
{
    grid-template-columns: 108px auto;
    width: 50%;
}

.container_weapon_element
{
    grid-template-columns: 215px auto;
    width: 100%;
}

@media only screen and (max-width: 768px)
{
    .container_enemy_element, .container_character_element, .container_inventory_element, .container_powerup_element,
    .container_weapon_element, .container_ammo_element
    {
        display: block;
        align-items: top start;
        justify-content: normal;
        grid-template-columns: 20% auto;
        width: 100%;
    }
}

.container_ammo
{
    margin-top: 25px;
    position: relative;
    flex-wrap: wrap;
    display: flex;
    align-items: top;
    justify-content: center;
}


/** Pictures - Ammo, Powerups, Inventory **/

.picture_ammo_bullet, .picture_ammo_plasma, .picture_ammo_rocket, .picture_ammo_energy, .picture_ammo_crate, .picture_powerup, .picture_powerup_health, .picture_inventory, .picture_powerup_rocket, .picture_powerup_environ, .picture_powerup_shield
{
    height: 68px;

    margin: 25px;
}

.picture_powerup_health
{
    height: 48px;
    margin-left: 22px;
}

.picture_powerup_inventory_upgrade
{
    height: 57px;
    margin: 23px;
    margin-left: 30px;
}

.picture_ammo_rocket
{
    margin-left: 36px;
}

.picture_ammo_crate
{
    height: 53px;

    margin: 25px;
}

.picture_powerup_health
{
    height: 48px;
    margin-left: 22px;
}

.picture_powerup_rocket
{
    margin-left: 37px;
}

.picture_powerup_environ, .picture_powerup_shield
{
    margin-left: 32px;
}

@media only screen and (max-width: 768px)
{
    .picture_powerup_rocket, .picture_powerup_environ, .picture_powerup_shield
    {
        margin: 25px;
    }
}


/** Texts **/

.text_ammo, .text_powerup, .text_inventory, .text_enemy, .text_character, .text_weapon
{
    text-align: left;
    justify-content: left;
    margin: 16px;
}

.text_ammo
{
    max-width: 240px;
}

.list_ipogmod
{
    line-height: 125%;
}

.list_ipogmod li
{
    margin-bottom: 28px;
}

.text_project_subtitle
{
    margin-top: 36px;
}

.navbar
{
    flex-wrap: wrap;
    display: inline-flex;
    justify-content: center;
    max-height: 20%;
    max-width: 95%;

    border: 15px solid;
    border-image: url("images/design/panel_navbar.png") round;
    border-image-slice: 40 fill;
}

.content
{
    margin: 10px auto 10px auto;
    max-width: 1100px;
    line-height: 150%;

    border: 25px solid;
    border-image: url("images/design/panel_content.png") round;
    border-image-slice: 100 fill;
}

.content_main_category
{
    max-width: 500px;
}

.content_gallery
{
    max-width: 1350px;
}

.footer
{
    margin: 10px auto 10px auto;
    max-width: 950px;
    width: 95%;
    line-height: 150%;

    border: 25px solid;
    border-image: url("images/design/panel_footer.png") round;
    border-image-slice: 90 90 110 90 fill;
}

.content a:link, .footer a:link
{
    color: red;
    text-decoration: underline;
}

.content a:visited, .footer a:visited
{
    color: gray;
    text-decoration: underline;
}

::selection
{
    background: white;
    color: black;
}

.button
{
    margin: 0.5px;
    line-height: 150%;

    color: white;
    text-decoration: none;

    width: auto;
    min-width: 123px;

    border: 10px solid;
    border-image: url("images/design/button_off.png") round;
    border-image-slice: 30 fill;
}

#Home_HomeButton,
#MainMod_MainModButton,
#Enemies_EnemiesButton,
#Heretic_HereticButton,
#Retribution_RetributionButton,
#Desarian_DesarianButton,
#Ristanak_RistanakButton,
#Kaal_KaalButton,
#Characters_MainModButton,
#Characters_CharBiosButton,
#Inventory_MainModButton,
#Inventory_InventoryButton,
#Weapons_MainModButton,
#Weapons_WeaponsButton,
#Powerups_MainModButton,
#Powerups_PowerupsButton,
#Hints_MainModButton,
#Hints_HintsButton,
#Ammo_MainModButton,
#Ammo_AmmoButton,
#CVars_CVarsButton
{
    margin: 0.5px;
    line-height: 150%;
    
    color: black;
    text-decoration: none;

    width: auto;
    min-width: 123px;

    border: 10px solid;
    border-image: url("images/design/button_on.png") round;
    border-image-slice: 30 fill;
}
